body {
    color:wheat;
    background: rgb(0, 5, 80);
    margin: 0px;
    font-family: "Roboto Condensed", sans-serif;
}

header {border-bottom:solid 2px rgb(62, 166, 255);
        padding: 20px;
        font-size: 22px;
        color: rgb(62, 166, 255)
}

.SEM-PONTAS-SOLTAS {
    background: rgb(49, 34, 74);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content:center ;
}

.texto{
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p{
    font-size: 20px;
}

.mult-videos{
    display:flex;
    overflow-x: auto;
    gap:10px
}

.filmes-e-series{
    margin-bottom: 100px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px
}

.mult-videos img{
    opacity:0.5;
    height:200px
}

.mult-videos img:hover{
    opacity: 1.0;
    border: 2px solid rgba(104, 0, 97, 0.603);
}

.filmes-e-series h2{
    color:rgb(62, 166, 255)
}
